<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn to fly with me</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo pull-left">
          <a href="/"><img src="/images/header-logo.png" alt="Learn to fly - Cloud computing from scratch" height="70" /></a>
        </div>

        <div class="pull-right">
          <ul class="menu list-inline">
            <% if (user) { %>
              <li><%= __('Hi %s', user.name) %></li>
              <li><a href="/logout/" class="btn btn-outline"><%= __('Log out') %></a></li>
            <% } else { %>
              <li><a href="/auth/github/" class="btn btn-outline"><%= __('Sign in with GitHub') %></a></li>
            <% } %>
        </div>
      </div>
    </header>

    <% if (view.pathFromApp == "views/home/index") { %>
      <div class="jumbotron text-center">
        <h1><%= __('Learn to fly') %></h1>
        <h3><%= __('Cloud computing from scratch') %></h3>
      </div>
    <% } %>

    <div class="container">

      <%- body %>

    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
